@import "tailwindcss";
*{
    font-family: "Poppins", sans-serif;
    user-select: none;
    scroll-behavior: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: auto !important;  /* Ensure instant scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

@keyframes loop-scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .loop-scroll {
    animation: loop-scroll 60s linear infinite;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

